*.pth
*.npy
*.h5
*.log
*.ckpt
*.tar
*.zip
*.egg-info/
checkpoints/
dataset/
output/
__pycache__/
ml-depth-pro-main/
mmsegmentation-main/
MobileSAM-master/
Pytorch-UNet-master/
replace_ycb_toolbox/
vanilla_segmentation/
YCB_Video_toolbox-master/

